body {
  margin: 12px;
}

h1 :link {
  color: black;
  text-decoration: none;
}

article {
  border: solid 2px black;
  padding: 12px;
  margin-bottom: 12px;
}

article h2 {
  margin-top: 0;
}

article h2 :link {
  color: black;
  text-decoration: none;
}
