name: Validate
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install W3C Validator
        run: npm install -G w3c-html-validator

      - name: Validate HTML
        run: npx html-validator **/*.html
